/*Text font*/
@font-face {
    font-family: 'Santiago';
    src: url('/assets/fonts/Santiago.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Santiago.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Santiago.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

  
 /*Icons*/
  