@import "variables";
body {
    background: $lightest-color;
    margin: auto;
    margin-bottom: 5em;
    @include font-normal(normal, $base-color);
    line-height: 1.4;
}
h1, .heading-1{
    @include font-title(bold, $base-color);
    font-size: 40px;
}
h2, .heading-2{
@include font-title(bold, $base-color);
}
h3, .heading-3{
@include font-normal(bold, $base-color);
font-size: 20px;
}
a{
    color: $base-color;
    &:hover{
        color: $base-color;
    }
}


/*Page transition with scrollsAnims*/
.tl-edges-child--relative > div{
    position: relative;
}
.tl-wrapper{//removes issues for scrollMagicAnimations
    position: absolute;
}


.textc-base{
    color:$base-color;
}
.textc-primary{
    color:$ocean-color;
}
.textc-neutral{
    color:$neutral-color;
}
.textc-neutral-light{
    color:$neutral-light;
}

.bgc-base{
    background:$base-color;
}
.bgc-primary{
    background:$ocean-color;
}
.bgc-neutral{
    background:$neutral-color;
}
.bgc-neutral-light{
    background:$neutral-light;
}

.tempBigIcon{
    font-size: 40px;
}


.bg-sky{
  width: 100%;
}
.sphere-bg{
    &:before{
        content: "";
        width: 100%;
        height: 200px;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        background: red;
    }
}
.font-dots{
    font-family: 'Raleway Dots';
}
.a-big{
    position: relative;
    left: -70px;
}

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 100 {
    $val: #{$val}, -#{$i}px #{$i}px #{$color};
  }
  @return $val;
}

.hero{
    height: 100vh;
    overflow: hidden;
    &__letters{
        font-size:50px;
    }
    &:before{//corner
        // content:'';
        // background: linear-gradient(to right bottom, #e9ece5 50%, #f3f4f0 50%);
        // background: #e9ece5;
        // bottom: -150px;
        // height: 150px;
        // left: 0px;
        // position: absolute;
        // width: 100%;
        // width: 100%;
        // z-index: 22;
    }
   
}
.h-100vh{
    height: 100vh;
}
.section{
    height: 40vh;
}
.intro-letters{
    @include font-title(normal, $base-color);
    font-size: 40px;
}
.hidden{
    visibility: hidden;
}
.overflow-hidden{
    overflow: hidden;
}

/*enventually in Projects*/
.projects-head{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: 16px solid $base-color;
    


    &__title{
        transition:all 0.25s ease-in-out;
        font-size: 75px;
        @include breakpoint(md) {
            font-size: 150px;
            margin-bottom: -150px;
        }
    }
    &__title--pro{
        transform: scale(1.5);
        display: inline-block;
        position: relative;
        left: -100px;
    }
    &__title--j{
        transform: scaleX(0.1);
        display: inline-block;
    }
    &__title--ects{
        transform: scale(1.5);
        display: inline-block;
        position: relative;
        right: -100px;
    }
}
.projects-list{
    position: relative;
    background: $base-color;
    height: 100vh;
   
}
.project-item{
    opacity: 0;
    align-items: center;
    background: $base-color;
    border-bottom: 1px solid gray;
    display: flex;
    height: 400px;
    justify-content: center;
    margin-bottom: 0px;
    position: relative;
    &__link{
        z-index:1;
        &:hover{
            text-decoration: none;
            .project-item{
                background-position-x: 223;
            }
        }
    }
    &__title{
        @include font-title(normal, $ocean-color);
        font-size: 40px;
    }
    background: url('https://theculturetrip.com/wp-content/uploads/2018/02/tattoo-studios_fallen-heroes-min.png') bottom center;
    background-size: cover;
    &:before{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(59, 58, 54, 0.8);
    }

    @for $i from 1 through 10 {
        &:nth-child( #{$i} ) {
          -webkit-animation: slideIn .75s #{$i * 0.25}s ease 1 forwards;
          -moz-animation: slideIn .75s #{$i * 0.25}s ease 1 forwards;
         animation: slideIn .75s #{$i * 0.25}s ease 1 forwards; 
        }
      }
      
    
}

@keyframes slideIn {
    0% {
        opacity: 0;
        left: -300px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

@import "landing";
@import "nav";

